@{
    Layout = null;
}
@model OST_inventory.Models.Account

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div>
    
        @using (Html.BeginForm("Login", "Auth", FormMethod.Post)) 
        {
            <div class="row" style="width: 400px; height: 350px; background: antiquewhite; position: fixed; margin: auto;
left: 0px; right: 0px; top: 0px; bottom: 0px; padding: 20px; border-radius: 10px ">
                
                <center>
                    <h2>Login</h2>
                    <label for="basic-url" style=" float: left" >User Name</label>
                    <div class="input-group mb-3" style="">
                        @Html.TextAreaFor(model => model.UserName, new { @class = "form-control", id = "txtUserName", Style = "width: 100%; max-width: 100%; height: 10px" })
                    </div>
                    <label for="basic-url" style=" float: left" >Password</label>
                    <div class="input-group mb-3">
                        @Html.TextAreaFor(model => model.Password, new { @class = "form-control", id = "txtPass", Style = "width: 100%; max-width: 100%;  height: 10px" })
                    </div>

                    <br />

                    <input type="submit" class="btn btn-dark" value="login" style=" width: 100%; max-width: 100%" />

                </center>


                @*@<div class="col col-12" >
                    
                </div>
                <div class="col col-12">
                    
                </div>*@

            </div>
            
            
        }

    </div>
</body>
</html>
